{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em 1cm; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
   <br> <h1 style=" font-weight:bold;">Bienvenue dans doctor's guide !</h1>
    <h2 style="font-size: 20px;"> Intéragissez avec d'autres médecins spécialistes en ophtalmologie 
    partout dans le monde. </h2>
</div>

{% endblock %}
