
{% extends 'base.html.twig' %}

{% block title %}Nouvelle Demande{% endblock %}

{% block body %}
   <br> <h1 style="margin-left:12cm; font-weight:bold;">Ajout d'une demande</h1><br>

    {{ include('demande/_form.html.twig') }}

    <br><a style="margin-left:15.9cm; font-size:18px;"href="{{ path('app_demande_index') }}">Retour à la liste</a>
{% endblock %}